<mat-card class="recenzija-form-card">
  <mat-card-header class="form-header">
    <mat-card-title>Dodaj recenziju</mat-card-title>
  </mat-card-header>

  <mat-divider class="form-divider"></mat-divider>

  <mat-card-content class="form-content">
    <form [formGroup]="recenzijaForm" (ngSubmit)="saveRecenzija()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Film</mat-label>
        <input matInput [value]="selectedFilm?.naziv" required
               placeholder="Klikni da izabereš postojeći film"
               (click)="openFilmSearch()" aria-label="Izaberi film" />
        <button mat-icon-button matSuffix *ngIf="selectedFilm"
                aria-label="Obriši film"
                (click)="clearFilm(); $event.stopPropagation()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-hint>*Klikni da izabereš postojeći film</mat-hint>
        <mat-error *ngIf="recenzijaForm.get('film')?.hasError('required') && recenzijaForm.get('film')?.touched">
          Film je obavezan.
        </mat-error>
      </mat-form-field>
      <div class="rating-section">
        <label class="section-label">Ocena</label>
        <mat-radio-group formControlName="ocena"  aria-label="Ocena">
          <mat-radio-button *ngFor="let r of ratings" [value]="r" >{{ r }}</mat-radio-button>
        </mat-radio-group>
      </div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Utisak</mat-label>
        <textarea matInput formControlName="utisak" rows="4" required></textarea>
        <mat-error *ngIf="recenzijaForm.get('utisak')?.hasError('required') && recenzijaForm.get('utisak')?.touched">
          Utisak o filmu je obavezan.
        </mat-error>
      </mat-form-field>
      <div class="actions-right">
        <button mat-button color="primary" type="submit" >
          Dodaj recenziju
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
