<mat-toolbar  class="toolbar">
    <div class="menu-container">
      <button mat-button [matMenuTriggerFor]="menuFilmovi">Filmovi</button>
      <mat-menu #menuFilmovi="matMenu">
        <button mat-menu-item routerLink="/filmovi/create">Dodaj film</button>
        <button mat-menu-item routerLink="/filmovi/search">Pretrazi filmove</button>
      </mat-menu>
  
      <button mat-button [matMenuTriggerFor]="menuRecenzije">Recenzije</button>
      <mat-menu #menuRecenzije="matMenu">
        <button mat-menu-item routerLink="/recenzije/create">Dodaj recenziju</button>
        <button mat-menu-item routerLink="/recenzije/list">Pogledaj recenzije</button>
        
      </mat-menu>
  
      <button mat-button [matMenuTriggerFor]="menuListe">Liste</button>
      <mat-menu #menuListe="matMenu">
        <button mat-menu-item routerLink="/liste/create">Dodaj listu</button>
        <button mat-menu-item routerLink="/liste/search">Pretraži liste</button>
        <button mat-menu-item  routerLink="/liste/edit">Izmeni listu</button>
        <button mat-menu-item routerLink="/liste/list">Obriši listu</button>
      </mat-menu>
    </div>
  
    <div class="logo-container">
      <a routerLink="home"><img src="assets/logo.png" alt="Logo" class="logo" /></a>
    </div>

    <div class="sing-out-container">
      <button class="sing-out-button" (click)="singOut()">Sing out</button>
      </div>
  </mat-toolbar>