/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.snack-success .mdc-snackbar__surface { 
    background: #2e7d32 !important; 
    color: #fff !important; 
}

.snack-error .mdc-snackbar__surface { 
    background: #c62828 !important; 
    color: #fff !important; 
}


.app-dialog-backdrop {
  background: rgba(0,0,0,.35);
}

.app-confirm-dialog {
  .mdc-dialog__surface{
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0,0,0,.10);
    background: #fff;
    overflow: hidden; 
  }
}


